@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
}

body {
	width: 100%;
	max-width: 1280px;
	min-width: 300px;
	margin: 0 auto;
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

}

.wrapper_over_footer {
    min-height: calc(100% - 75px);
    padding-bottom: 75px;
}

header {
    border: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    text-align: center;
    padding: 10px 0 10px 0;
}

header a {
    color: #000;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
}

header span {
    padding: 0 15px;
}


.content {
	line-height: 1;

    font-size: 24px;
    font-weight: 100;
}

.content div p {
    color: #242424;
    padding: 10px;
    text-align: justify;
    text-indent: 2ex;
}

.content div a {
    text-decoration: none;
    color: #40678a;
}



.content h1 {
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img_myfoto {
    display: inline-block;
    width: 33%;
    /*min-width: 200px;*/
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    text-align: center
}

.img_myfoto img {
    width: calc(100% - 10px);
}

.img_myfoto + div {
    display: inline-block;
    width: calc(67%);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}




footer {
    height: 70px;
    margin-top: -72px;
    background-color: #dfdfdf;
    border: 1px solid #b5b7ba;
    text-align: center;
    color: #010435;
    font-size: 20px;
    font-weight: 100;
}

footer .nothing {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

footer p {
	vertical-align: middle;
    display: inline-block;
}

footer a {
    color: inherit;
}


@media screen and (max-width:450px) {
 /*Display 1024px and later */
    .img_myfoto {
        width: 100%;
    }
    .img_myfoto + div {
        width: 100%;
    }
}