{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<!--saved from https://github.com/ivangolubykh/django-hello_world -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="shortcut icon" type="image/ico" href="{% static 'indexapp/favicon/favicon.ico' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'indexapp/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" href="{% static 'indexapp/favicon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'indexapp/favicon/favicon-16x16.png' %}" sizes="16x16">
	<meta name="theme-color" content="#ffffff">
	<title>
		{% block title %}
			Личный сайт Ивана Борисовича Голубых
		{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'general/style/reset.css' %}">
	<link rel="stylesheet" href="{% static 'indexapp/style.css' %}">
	<script src="{% static 'indexapp/program.js' %}" charset="utf-8"></script>
</head>
<body>

	<div class="wrapper_over_footer">
		<header>
			<a href="{% url 'index' %}">Главная</a> <span>/</span>
			<a href="{% url 'learn' %}">Учёба</a> <span>/</span>
			<a href="{% url 'work' %}">Работа</a> <span>/</span>
			<a href="javascript:arcana();">Загадки</a> <span>/</span>
			<a href="javascript:start_program();">Все программы</a>
		</header>

		<section class="content">
			{% block contetnt %}
			{% endblock %}
		</section>
	</div>

	<footer>
		<div class="nothing"></div><!--
		--><p>Copyright © 2016 <a href="http://allworld.xyz/django/profile_ig/" target="_blank">Иван Борисович Голубых</a></p>
	</footer>

{% block addEndScript %}
{% endblock %}
</body>
</html>