{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Учёба - Голубых Иван Борисович{% endblock %}


{% block contetnt %}
    <h1>Голубых Иван Борисович - Учёба</h1>
    <div id="center">
        <img src="{% static 'indexapp/img/ivan-tenerife.gif' %}"></img>
        <div id="box_text">
            <p>В 2016 году прошел целый комплекс курсов и тестов про программированию, полный список которых можно увидеть <a href="https://geekbrains.ru/users/1169403" target="_blank">в моем профиле</a></p>
            <p>В 2016 году, 25 августа получил педагогическое образование в <a href="http://irospb.ru/" target="_blank">Институте развития образования</a>, дополнительная профессиональная программа профессиональной переподготовки «ОБРАЗОВАНИЕ И ПЕДАГОГИКА: теория и методика обучения информатике».</p>
            <p>В 2001 году окончил <a href="http://www.pgups.ru/" target="_blank">Петербургский государственный университет путей сообщения Императора Александра I</a>, присуждена квалификация инженер по специальности "Водоснабжение и водоотведение"</p>
            <p>В 1996 году окончил <a href="http://sch556.spb.ru/" target="_blank">Государственное бюджетное общеобразовательное учреждение
                средняя общеобразовательная школа №556 с углублённым изучением английского языка Курортного района Санкт-Петербурга</a></p>
        </div>
    </div>
{% endblock %}
