{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Работа - Голубых Иван Борисович{% endblock %}


{% block contetnt %}
    <h1>Голубых Иван Борисович - Работа</h1>
    <div id="center">
        <img src="{% static 'indexapp/img/ivan-tenerife.gif' %}"></img>
        <div id="box_text">
            <p>С 2015-16 по 2016-17 учебный годы работаю учителем информатики и технологии (раздел черчение и графика) в <a href="http://school98.spb.ru/" target="_blank">Государственное бюджетное общеобразовательное учреждение
средняя общеобразовательная школа № 98
с углубленным изучением английского языка
Калининского района Санкт-Петербурга</a> </p>
            <p>С 2007 по 2015 годы работал генеральным директором в собственном ООО "ПетроПульс".</p>
            <p>С 2005 по 2007 годы работал проектировщиком по специальности "Водоснабжение и водоотведение" в ООО "Северо-западная инженерная компания" и ООО "БИК - инженерная компания".</p>
            <p>С 2001 по 2005 годы работал в должности ассистент в ПГУПС на кафедре "Водоснабжение и водоотведение". Занимался преподаванием ряда дисциплин по своей специальности.</p>
        </div>
    </div>
{% endblock %}
