{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Работа - Голубых Иван Борисович{% endblock %}


{% block contetnt %}
    <h1>Голубых Иван Борисович - Работа</h1>
    <div id="center">
        <img src="{% static 'indexapp/img/ivan-tenerife.gif' %}"></img>
        <div id="box_text">
            {% if not work_chronology %}
            <p>Данные о местах моей работы недоступны в настощее время.</p>
            {% else %}
                {% for work in work_chronology reversed %}
                    <p>{{work|safe}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
